*{
  max-width: 100vw;
  box-sizing: border-box;
}

html{
  font-size: 62.8%;
}
body {
  margin: 0;
  background-color: rgba(0, 25, 25, 1);
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  color: rgb(0, 200, 200);
  font-size: 18pt;
  margin-bottom: 4rem;
}
h2{
  color: lime;
}
h3{
  color: white;
}
p{
  color: white;
}